
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
  <!-- /.col-xs-12 -->
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
          Manage recipe <span class="caret"></span></button>
      <!-- /.button -->
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Edit Delete</a></li>
      </ul>
    </div>
  </div>
  <!-- /.col-xs-12 -->
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
  <!-- /.xol-xs-12 -->
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
  <!-- /.col-xs-12 -->
</div>
<!-- /.row -->
<!-- /.row -->
<!-- /.row -->
<!-- /.row -->
